* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    display: flex;
    flex-direction: column;
    min-height: 100dvh; /* Garante que o body ocupe a tela toda */
    overflow-x: hidden;
}

.back {
    flex: 1;
    margin: 0;
    width: 100vw;
    height: 100vh;
    background-image: url("bg1.png");
    
    /* Faz a imagem cobrir todo o espaço disponível */
    background-size: cover; 
    
    /* Centraliza a imagem para que o foco não mude drasticamente no mobile */
    background-position: center; 
    
    background-repeat: no-repeat;
    
    display: flex;
    justify-content: center; /* Centraliza horizontalmente */
    align-items: center;
    position: relative;
}
.back2 {
    flex: 1;
    margin: 0;
    width: 100vw;
    height: 100vh;
    background-image: url("bg2.png");
    position: relative;
    /* Faz a imagem cobrir todo o espaço disponível */
    background-size: cover; 
    
    /* Centraliza a imagem para que o foco não mude drasticamente no mobile */
    background-position: center; 
    
    background-repeat: no-repeat;
    
    display: flex;
    align-items: center;
    justify-content: center; /* Centraliza horizontalmente */
    flex-direction: column;
}
.back3 {
    flex: 1;
    margin: 0;
    width: 100vw;
    height: 100vh;
    background-image: url("bg3.png");
    
    /* Faz a imagem cobrir todo o espaço disponível */
    background-size: cover; 
    
    /* Centraliza a imagem para que o foco não mude drasticamente no mobile */
    background-position: center; 
    
    background-repeat: no-repeat;
    
    display: flex;
    align-items: center;
    justify-content: center; /* Centraliza horizontalmente */
    position: relative;
}

.selo {
    width: 100px;
}

.icons {
    width: 30px;
}

.icon_container {
    transform: translateY(160px);
    display: flex;
    gap: 15px;
    justify-content: space-between;
}

.cmu {
   font-family: 'CMUSerifRoman';
   font-weight: normal;
   font-style: normal;
}

.text1_container {
    display: flex;
    transform: translateY(170px);
}
.text1 {
    color: rgb(123, 20, 62);
    text-decoration: underline;
    font-size: 16px;
}
.backbutton {
    margin: 20px;
    padding: 6px;
    border-radius: 5px;
    position: absolute;
    top: 0;
    left: 0;
    background-color: rgba(255, 255, 255, 0.6);
}

.backbutton i {
    color: rgb(123, 20, 62);
}




/* Footer */
/* Estilo da Barra Branca */
.barra-footer {
    width: 100%;
    background-color: white; /* A barra branca que você pediu */
    padding: 10px 0;
    text-align: center;
    font-family: 'CMUSerifRoman', serif;
    font-size: 11px;
    color: #333;
    border-top: 1px solid #eee; /* Uma linha bem fininha para separar */
    display: flex;
    justify-content: space-between;
    padding-left: 10px;
    padding-right: 10px;
}

.barra-footer a {
    color: rgb(123, 20, 62);
    text-decoration: none;
    font-weight: bold;
}